body {
    font-family: sans-serif;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

/*
p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}*/

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}

div.note {
  border: 1px black solid;
  margin: 50px;
  padding: 10px;
  background: moccasin;
}

#choicesHolder {
  width: 100%;
  clear: both;
}

#choices {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
}

span.second {
  display: block;
  text-align: right;
  width: 100%;
  font-style: italic;
  float: right;
 /* padding: 10px 0px 10px 0px;*/
}

img {
  max-width: 33vw;
  float: right;
  padding: 10px;
}

img:nth-of-type(2n){
  float:left;
}

span {
  text-align: justify;
}